<div class="container">
    <div class="row">
        <div class="col-md-6" id="left">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> {{roomId}}
                    <div class="btn-group pull-right">
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix" *ngFor="let txt of text">
                            <span class="chat-img pull-left avatar-circle">
                                <span class="initials">{{txt.initials}}</span>
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{txt.nick}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{txt.timestamp}}</small>
                                </div>
                                <p>
                                    {{txt.message}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input [(ngModel)]="messageSend" id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..."
                        />
                        <span class="input-group-btn">
                            <button (click)="postMessage()" class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" id="right">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    USERLIST
                    <div class="btn-group pull-right">
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix" *ngFor="let usr of roomUsers">
                            <p *ngIf="usr.isOp === true">
                                <a (click)="privateMsg(usr.nick)" class="operator">{{usr.nick}} (OP)</a>
                            </p>
                            <p *ngIf="usr.isOp === false">
                                <a (click)="privateMsg(usr.nick)">{{usr.nick}}</a>
                                <span *ngIf="currUserIsOp === true" class="btn-group">
                                <button class="label label-warning" (click)="kick(usr)">Kick</button>
                                <button class="label label-danger" (click)="ban(usr)">Ban</button>
                               </span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <button (click)="leaveRoom()" class="btn btn-danger btn-sm" id="btn-chat">
                    Leave this Room</button>
        </div>
    </div>
</div>