<div class="container">
  <div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        ROOMLIST
        <div class="btn-group pull-right">
        </div>
      </div>
      <div class="panel-body">
        <ul class="chat">
          <li *ngFor="let room of newRooms">
            <div class="chat-body clearfix">
              <div class="header">
                <span *ngIf="room.banned === true" >
                  <span>{{room.name}}</span><span class="label label-danger">BANNED</span>
                </span>
                <span *ngIf="room.banned === false" >
                  <a [routerLink]="['/rooms', room.name]" (click)="connectToRoom(room.name)">{{room.name}}<span class="extra label label-default">{{room.topic}}</span></a>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input [(ngModel)]="newRoomName" id="input-group-addon" type="text" class="form-control input-sm" placeholder="New room name..." />
          <span class="input-group-btn">
            <button (click)="onNewRoom()" class="btn btn-warning btn-sm" id="btn-chat">ADD NEW ROOM</button>
          </span>
          <span class="input-group-btn">
            <button (click)="disconnect()" class="btn btn-danger btn-sm" id="btn-chat">DISCONNECT</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>