<div class="container">
  <div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        LOGIN
        <div class="btn-group pull-right">
        </div>
      </div>
      <div class="panel-body">

          <p>
            ENTER USERNAME:
          </p>

          <input [(ngModel)]="userName" />
          <!-- TODO, DECLINE BAD USERNAME -->

          <button (click)="onLogin()" (keydown)="onLogin()">Login</button>

          <div *ngIf="loginFailed">
            Sorry, but this username is already taken
          </div>


      </div>
    </div>
  </div>
</div>